log4j.logger.de.everlage.ua.minimal.html.UserAgent=ALL, destall

log4j.appender.destall=org.apache.log4j.RollingFileAppender
log4j.appender.destall.File=/home/waffel/log/httpd/htmlua.log
log4j.appender.destall.MaxFileSize=100KB
log4j.appender.destall.MaxBackupIndex=5
log4j.appender.destall.layout=org.apache.log4j.PatternLayout
log4j.appender.destall.layout.ConversionPattern=%p %d{dd MMM yyyy HH:mm:ss} %l - %rms %m%n
