
# Treiber des zu verwndenden Datenbanksystems
dbSystem=postgres
# Verbindungs-url zur Datenbank, diese ist Datenbanksystemabhängig
dbDatabase=everlagetest
# Login für das Datenbanksystem
dbLogin=waffel
# Passwort für das Datenbanksystem
dbPassword=waffel
# Anzahl der offen zu haltenen Datenbankverbindungen
conNumber=1